* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: green;
  --bg-color: #f4f4f4;

  --navbar-height: 5rem;
  --ABeeZee: "ABeeZee", sans-serif;
  --Comic: "Comic Neue", cursive;
  --Oregano: "Oregano", cursive;
}

body {
  font-family: var(--ABeeZee);
}
